
<h2>Taski do zrobienia</h2>

<% @tasks_false.each do |t| %>
	<div class="task">

		<%= check_box_tag("done", t.id, checked = false) %>

		<h4><%= t.name %></h4>
	</div>
<% end %>	

<h2>Taski zrobione</h2>

<% @tasks_true.each do |t| %>
	<div class="task">

		<%= check_box_tag("done", t.id, checked = true) %>

		<h4><%= t.name %></h4>
	</div>
<% end %>	

<h2>Dodaj nowego taska</h2>

<%= form_for :task, :url => new_task_path(@task), :method => :get do %>
	<%= label_tag(:name, "Nazwa taska:") %>
	<%= text_field_tag(:name) %>
	<%= submit_tag("dodaj") %>
<% end %>

